@model Course
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Database is empty</h1>
<p>You can add skills.</p>

<form method="post" asp-action="GoToCreate">
    <button type="submit">Add new skill</button>
</form>